<!DOCTYPE html>
<html lang="en">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<head>
 <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {%block title -%}
    {% if title %}
     <title>Про Flask - {{ title }}</title>
    {% else %}
    <title>Про Flask</title>
    {%endif%}
    {%endblock%}
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">IT OVERONE</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О сайте</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/posts">Статьи</a>
        <a class="me-3 btn btn-warning" href="/create_article">Добавить</a>
      </nav>
    </div>
{%block content -%}
    {%- block mainmenu -%}
<ul class="mainmenu">
    {%for m in menu%}
<li><a href="{{m.url}}">{{m.name}}</a></li>
    {%endfor%}
</ul>
    {%endblock mainmenu -%}
    <div class="clear"></div>
    <div class="content">
    {% if title -%}
<h1>{{ title }}</h1>
    {% else -%}
<h1>Про Flask</h1>
    {%endif%}
{%endblock -%}
    </div>
</body>
</html>